.logo {
    text-align: center;
}
#col-ft, #col-sc, #col-td {
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid black;
}
h2{
    text-align: left;
}
#footer {
    border-top: 1px solid black;
    text-align: left;
    
    padding-left:0;
    padding-right:0;
}
#button {
    text-align:right;
        padding: 0;
       
}
#header {
 text-align:center;
}
.list-group-item {
    text-decoration: none;
    ;
}

